* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    color:white;
}


nav {
    position: absolute;
    right: 5px;
    top: 7px;  
}
.squaretop {
    background-color: #4a4a4a;
 
    padding: 4px;
    border-radius: 6px;
    font-size: 12px;
}

main {
    margin-top: 60px;
    margin-bottom: 20px;
    height: calc(100vh - 80px);
    width: 100%;
    overflow: auto;
}

.container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-image: url(https://picsum.photos/246/146);
    height: 120px;
    width: 13%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px 8px;
    position: relative;
}

.contentcard {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    bottom: 22px;
    padding: 3px;
    font-size: 14px;
}
footer {
    height: 80px;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    align-items: center;
    height: 100%;
}

li {
    list-style: none;
    padding-right: 10px;
}